@value textColorMain, textColorSecondary from 'layout/colors.scss';

body {
  margin: 0;
  color: textColorMain;
}

.container {
  widows: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
