.wrapper {
  position: relative;
  width: 70%;
  max-width: 800px;
  margin-bottom: 50px;
  cursor: pointer;
  &:hover .image {
    transform: scale(0.4);
  }
  &:hover .overlay {
    transform: scale(1);
    opacity: 1;
  }
}

.image {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  transition: transform 0.4s;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #485460;
	color: white;
  text-align: center;
  opacity: 0;
	transform: scale(0.7);
	backface-visibility: hidden;
	transition: transform 0.4s, opacity 0.4s;
}
