body {
  margin: 0;
}

.container {
  widows: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.title {
  font-family: sans-serif;
  font-size: 48px;
}
